html,body {
  height: 100%;
}
body {
  background-color: blue;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#xJump {
  font-family: "serif";
  font-size: 40px;
  color: #020341;
  text-align: center;
  margin-top: 20px;
}
