* {
  margin: 0;
  padding: 0
}

body, html {
  width: 100%;
  height: 100%
}

body {
  background-color: #fff;
  overflow: hidden;
  color: #222;
  -webkit-mask-image: radial-gradient(#fff 0, #fff 40%, hsla(0, 0%, 100%, 0) 60%, hsla(0, 0%, 100%, 0));
  mask-image: radial-gradient(#fff 0, #fff 40%, hsla(0, 0%, 100%, 0) 60%, hsla(0, 0%, 100%, 0));
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 0;
  mask-size: 0;
  animation: openingAnimation .5s cubic-bezier(.6, .04, .98, .335) .3s forwards
}

@keyframes openingAnimation {
  0% {
    -webkit-mask-size: 0 0;
    mask-size: 0 0
  }
  to {
    -webkit-mask-size: 300% 300%;
    mask-size: 300% 300%
  }
}

.line-container {
  position: absolute;
  width: 200vw;
  height: 200vw;
  left: calc(50% - 100vw);
  top: calc(50% - 100vw);
  background-image: repeating-conic-gradient(transparent 0, transparent 13deg, #222 13deg, #222 14deg), repeating-conic-gradient(transparent 0, transparent 20deg, #222 20deg, #222 22.2deg), repeating-conic-gradient(transparent 0, transparent 5deg, #222 5deg, #222 5.4deg), repeating-conic-gradient(transparent 0, transparent 40deg, #222 40deg, #222 41.3deg), repeating-conic-gradient(transparent 0, transparent 10deg, #222 10deg, #222 12.1deg);
  animation: backgroundAnimation 10s linear infinite
}

@keyframes backgroundAnimation {
  0% {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

.line-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#fff 0, #fff 10%, transparent 18%, transparent)
}

@supports ((-webkit-mask-image:radial-gradient(white,white)) or (mask-image:radial-gradient(white,white))) and (not (-ms-ime-align:auto)) {
  .line-container {
    -webkit-mask-image: radial-gradient(transparent 0, transparent 10%, #fff 18%, #fff);
    mask-image: radial-gradient(transparent 0, transparent 10%, #fff 18%, #fff)
  }

  .line-container:before {
    display: none
  }
}

@media (orientation: portrait) {
  .line-container {
    width: 200vh;
    height: 200vh;
    left: calc(50% - 100vh);
    top: calc(50% - 100vh)
  }
}

.item {
  position: absolute;
  width: 30vw;
  height: 30vw;
  top: calc(50% - 15vw);
  left: calc(50% - 15vw);
  pointer-events: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

.item .suda {
  width: 100%;
  height: 100%
}

.message {
  font-family: Noto Sans JP, sans-serif;
  -webkit-text-stroke: 2px #fff;
  text-stroke: 2px #fff;
  font-size: 10vw;
  position: absolute;
  top: calc(50% + 20vw);
  width: 100%;
  left: 0;
  text-align: center;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt"
}

.message .surprised_mark {
  font-style: italic
}