$keyColor: #222222;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  overflow: hidden;
  color: $keyColor;
  //mask-image: radial-gradient(
  //    rgba(255, 255, 255, 1) 0%,
  //    rgba(255, 255, 255, 1) 40%,
  //    rgba(255, 255, 255, 0) 60%,
  //    rgba(255, 255, 255, 0)
  //);
  //
  //mask-repeat: no-repeat;
  //mask-position: center;

  opacity: 0;

  animation: 700ms openingAnimation 300ms cubic-bezier(.6, .04, .98, .335) forwards;

  @keyframes openingAnimation {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  //}  @keyframes openingAnimation {
  //  from {
  //    mask-size: 0 0;
  //  }
  //
  //  to {
  //    mask-size: 300% 300%;
  //  }
  //}
}

.container {
  display: grid;

  grid-template:
    "header header"
    "footer "

}


.line-container {
  position: absolute;

  width: 200vw;
  height: 200vw;

  left: calc(50% - 100vw);
  top: calc(50% - 100vw);

  $borderColor: $keyColor;

  // ランダムな太さの先を重ねる
  background-image: repeating-conic-gradient(
      transparent 0,
      transparent 13deg,
      $borderColor 13deg,
      $borderColor 14deg
  ),
  repeating-conic-gradient(
      transparent 0,
      transparent 20deg,
      $borderColor 20deg,
      $borderColor 22.2deg
  ),
  repeating-conic-gradient(
      transparent 0,
      transparent 5deg,
      $borderColor 5deg,
      $borderColor 5.4deg
  ),
  repeating-conic-gradient(
      transparent 0,
      transparent 40deg,
      $borderColor 40deg,
      $borderColor 41.3deg
  ),
  repeating-conic-gradient(
      transparent 0,
      transparent 10deg,
      $borderColor 10deg,
      $borderColor 12.1deg
  );

  animation: backgroundAnimation 10s infinite linear;

  @keyframes backgroundAnimation {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(1turn);
    }
  }
}

/* 中心のぼかした円 */
.line-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(
      #ffffff 0%,
      #ffffff 10%,
      transparent 18%,
      transparent
  );
}

/* mask-imageに対応し、Edgeではない場合のスタイル */
@supports (
    (mask-image: radial-gradient(white, white))
    and
    (not (-ms-ime-align: auto))
) {
  .line-container {
    /* 中心をくり抜く */
    mask-image: radial-gradient(
        transparent 0%,
        transparent 10%,
        white 18%,
        white
    );
  }

  .line-container:before {
    display: none;
  }
}

/* 縦持ちのときの対応 */
@media (orientation: portrait) {
  .line-container {
    width: 200vh;
    height: 200vh;
    left: calc(50% - 100vh);
    top: calc(50% - 100vh);
  }
}

$itemWidth: 30vw;

.item {
  position: absolute;
  width: $itemWidth;
  height: $itemWidth;
  top: calc(50% - #{$itemWidth / 2});
  left: calc(50% - #{$itemWidth / 2});
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  .suda {
    width: 100%;
    height: 100%;
  }
}

.message {
  font-family: "Noto Sans JP", sans-serif;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  font-size: calc(100vw / 10);
  position: absolute;
  top: calc(50% + 20vw);
  width: 100%;
  left: 0;
  text-align: center;
  font-feature-settings: "palt";

  .surprised_mark {
    font-style: italic;
  }
}
